{% extends 'layout/main.html' %}

{% block content %}
    {% load static %}
    <div class="container">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Введите новый пароль</label>
                {{ form.new_password1 }}
                <p class="text-danger">{{ form.new_password1.errors }}<p>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Подтвердите новый пароль</label>
                {{ form.new_password2 }}
                <p class="text-danger">{{ form.new_password2.errors }}<p>
            </div>

            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>

    </div>
{% endblock %}
 

